body {
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  background-color: grey;
  color: white;
  flex-basis: 100%;

  text-align: end;
}
.content {
  background-color: gray;
  flex-basis: auto;
  margin-left: 20%;
}
.home-page-addTask-button {
}

.listoftasks {
}
